.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    /* align-items: center; */
    justify-content: center;
}

.post {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 700px;
    background-color: #FFE8E5 ;
    border-radius: 30px;
    padding: 20px;  
    display: flex;
    gap: 1rem;
    /* padding: 0.4rem 0; */
    background: transparent;
    text-decoration: none;
    /* margin-bottom: 30px; */
    /* border-bottom: 1px solid var(--border-color); */
  }
  
  .post:last-of-type {
    /* border: none; */
  }
  
  .post:hover,
  .post:hover h3 {
    /* color: var(--font-color-bright); */
  }
  
  .post:hover h3 {
   
  }
  
  .post h3 {
    margin: 0;
    font-size: 1rem;
    color: var(--font-color-heading);
    font-weight: 500;
    font-family: var(--font-family-base);
    line-height: 1.3;
  }
  
  .post time {
    /* display: none;
    font-family: var(--font-family-monospace);
    color: var(--post-time-color);
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    margin-left: auto; */
  }
  
  @media screen and (min-width: 700px) {
  
    .post time {
      /* display: block; */
    }
  
    .post h3 {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  