@import './styletokens/tokens.css';
 
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-weight: normal;
  font-kerning: normal;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
}

.container {
  max-width: var(--content-width);
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 700px) {
  .container {
    padding: 0 2rem;
  }
}

main {
  flex: 1;
  margin-top: var(--navbar-height-large);

}

@media screen and (min-width: 700px) {
  main {
    margin-top: 6rem;
  }
}